# Exclure les fichiers de modèles volumineux
ResNet152V2-Weather-Classification-03.h5

# Exclure les dossiers de données et de sortie
input_images/
output_predictions/

# Exclure les fichiers temporaires
__pycache__/
*.pyc

# Exclure les fichiers de configuration locaux
.env
kaggle.json

# Exclure les fichiers de logs
logs/
